## Sets
- Iterable
- Mutable
- No duplicate elements
- Does not support indexing

In [1]:
# defining an empty set
set_var=set()

In [2]:
print(set_var)

set()

In [3]:
print(type(set_var))

<class 'set'>

In [6]:
set_var={1,2,3,4,3}

In [7]:
set_var

{1, 2, 3, 4}

In [8]:
print(set_var)

{1, 2, 3, 4}

In [9]:
type(set_var)

set

In [10]:
#add 
set_var.add(5)

In [11]:
set_var

{1, 2, 3, 4, 5}

In [12]:
set1={1,2,3,4}
set2={1,2,3,4,5}

In [13]:
#difference
set2.difference(set1)

{5}

In [14]:
#differnce update
set2.difference_update(set1)

In [15]:
set2

{5}

## Dictionary
- key value paires
- unorderd
- changeable
- indexed

In [16]:
dic={}

In [17]:
type(dic)

dict

In [18]:
#create dictionary
my_dict={"car1":"Audi", "car2":"BMW","car3":"Mercidies benz"}

In [19]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz'}

In [20]:
type(my_dict)

dict

In [22]:
#access the items based on key values
my_dict['car1']

'Audi'

In [23]:
# loop for keys
for x in my_dict:
    print(x)

car1
car2
car3

In [25]:
#loop for alues
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies benz

In [26]:
#loop for both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies benz')

In [32]:
# adding item in dictionary
my_dict['car4']='Audi 2.0'

In [33]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz', 'car4': 'Audi 2.0'}

In [34]:
my_dict['car1']='Maruti'

In [35]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercidies benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [37]:
car1_model={'Mercede':1960}
car2_model={'Audi':1970}
car3_model={'Ambassader':1980}

In [38]:
car_type={'car1':car1_model,'Car2':car2_model,'car3':car3_model}

In [39]:
car_type

{'car1': {'Mercede': 1960},
 'Car2': {'Audi': 1970},
 'car3': {'Ambassader': 1980}}

In [40]:
type(car_type)

dict

In [41]:
car_type['car1']

{'Mercede': 1960}

In [42]:
car_type['car1']['Mercede']

1960

## Tuples
- immutable
- unorderd
- indexed

In [43]:
my_tuple=()

In [44]:
type(my_tuple)

tuple

In [45]:
my_tuple=('sagar','sonali','pinki')

In [46]:
my_tuple

('sagar', 'sonali', 'pinki')

In [47]:
my_tuple[0]

'sagar'

In [49]:
#inbuilt fuction
#count

my_tuple.count('sagar')

1

In [50]:
#index
my_tuple.index('pinki')

2